php_flag log_errors on
php_value error_log ../storage/logs/php.log


RewriteEngine On

# Statische Dateien direkt ausliefern
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

# Alles andere an index.php
RewriteRule ^ index.php [L]

# Sensitive Dateien und Verzeichnisse sperren
<FilesMatch "^(config\.php|composer\.(json|lock)|\.env)$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

